<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--Se crearán las cards correspondientes al número de eventos del array-->
  @for (event of listEvents(); track event.id) {
    <!--Se producirá un evento click en cada una de las card con un mensaje, mediante el AlertController-->
    <ion-card (click)="showMessage(event.name)" button="true">
      <ion-card-header>
        <ion-card-title>{{event.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{event.description}}</ion-card-content>
    </ion-card>
  }
</ion-content>
